
body{
    background-color: lightgrey;
}
header {
    background-color: lightskyblue;
    margin:10%;
    display:inline-block;
    padding:30px;
    border-radius: 20px;
    box-shadow: 5px 5px 50px;
}
header img{
 width:30%;
 box-shadow: 3px 3px 30px;
}
header h1{
width:70%;
float:right;
text-align: center;
color:white;
text-shadow: 2px 2px 10px black;
}

main{
    margin:10%;
    margin-top: -10%;
}
main h1{
    text-align: center;
    text-shadow: 1px 1px 20px black;
}
main ul{
    line-height: 30px;
}

footer{
    background-color: lightskyblue;
    margin:10%;
    padding:30px;
    border-radius: 20px;
    box-shadow: 5px 5px 50px;
    text-align: center;
}